.main{
    display:flex;
}
.mainNav > div{
    width:300px;
    height:89vh;
    background:#fffdfd;
}
.mainBlock{
    height:89vh;
    overflow:auto;
}
.mainBreadcrumbs{
    margin:25px;
}
.mainProduct{
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
    justify-content:center;
}


.mainBreadcrumbs > div{
    font-size:20px;
}



button{
    padding:5px;
    margin:4px;
    background-color:#053354;
    font-size:16px;
    color:white;
    border:none;
    cursor:pointer;
}
.background-color{
    background-color:#053354;
    color:white;
    display:flex;
    align-content:center;
    align-items:center;
    align-self:center;
    height:35px;
}


@media screen and (max-width:600px){
    .mainNav > div{
        width:150px;
    }

    .mainBreadcrumbs > div{
        font-size:16px;
    }

}
@media screen and (max-width:400px){
    .mainNav > div{
        width:120px;
        font-size:12px;
    }
}
